/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/home/Home.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.test {
    display: flex;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(9%, -6%);
  }
img {
width: 100%;
}
