.ColorContainer ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.ColorContainer li {
  margin: 0 5px;
  cursor: pointer;
}
.ColorContainer .colorCircle {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .ColorContainer .dialogTitleH4 {
    padding: 5px 0 10px !important;
  }

  .ColorContainer .colorCircle {
    width: 30px !important;
    height: 30px !important;
    border: 3px solid !important;
  }

  .ColorContainer .colorCircle.yellow {
    border: 3px solid #febd01 !important;
  }

  .ColorContainer .colorCircle.blue {
    border: 3px solid #5780f0 !important;
  }

  .ColorContainer .colorCircle.pink {
    border: 3px solid #c64470 !important;
  }
}
