.GoodFoxProfileContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(11px);
  background: rgb(114 114 114 / 20%);
  z-index: 999;
}

.GoodFoxProfileContainer .phoneContainer {
  display: flex;
  flex-direction: column;
  height: 513px;
  border: 8px solid black;
  border-radius: 32px;
  background-color: white;
  width: 264px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.GoodFoxProfileContainer .headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c68a9;
  color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: absolute;
  width: 264px;
  height: 51px;
}

.GoodFoxProfileContainer .sectionContainer {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 510px;
}

.GoodFoxProfileContainer .ImageScrollContainer .backBtn {
  position: absolute;
  left: 0;
  top: 15px;
}

.GoodFoxProfileContainer .section {
  height: 475px;
  overflow-x: hidden;
}

.GoodFoxProfileContainer .answerText {
  font-size: 12px;
  font-weight: 300;
}

.GoodFoxProfileContainer section::-webkit-scrollbar {
  width: 0;
}

.GoodFoxProfileContainer .section {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.GoodFoxProfileContainer .section-content {
  overflow-y: scroll;
  max-height: 475px;
}

.GoodFoxProfileContainer .ProfileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.GoodFoxProfileContainer .ProfileImageContainer img {
  background: #ffd646;
}

/* .GoodFoxProfileContainer .BottombarContainer {
  position: absolute;
  bottom: 0px;
} */

.GoodFoxProfileContainer .closeProfile {
  margin: 92px 272px;
}

.GoodFoxProfileContainer .Line {
  z-index: -1;
}

.GoodFoxProfileContainer .bottombar {
  width: 244px;
  margin-top: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.ImageContainer {
  cursor: pointer;

}
.ImageContainer img {
  cursor: pointer;
  border: 2px solid #3498db; /* Rahmen hinzufügen */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
  transition: border-color 0.3s, box-shadow 0.3s; /* Übergangseffekte hinzufügen */
}
.ImageContainer img:hover {
  border-color: #2980b9; /* Rahmenfarbe ändern beim Überfahren */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); /* Schatten vergrößern beim Überfahren */
}