.frameContainer {
  /* display: flex;
  justify-content: center; */
}

.frame {
  width: 90%;
  height: 73vh;
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33.33%;
}

.stepperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frameContainer .SpeachbubbleBox {
  width: 33.33%;
}

.frameContainer .PhoneBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 33.33%;
}

.frameContainer .buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: -35px 70px;
}

.frameContainer .answerContainer {
  width: 100%;
}

.frameContainer .answer {
  margin: 20px 0;
}

.frameContainer .fourOrMore {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 10px;
}

.frameContainer .smallerThenFour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
