.frameContainer {
  /* display: flex;
  justify-content: center; */
}

.frame {
  width: 90%;
  height: 73vh;
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 50px;
  width: 232px;
}

.stepperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frameContainer .PhoneBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}


.frameContainer .buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: -35px 70px;
}

.answerContainer {
  width: 100%;
}

.fourOrMore {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 10px;
}

.smallerThenFour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
