.frameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.frame {
    width: 33.33%;
    padding: 15px;
}

.boxContainer {
    display: flex;
    flex-direction: column;
}

