.InputContainer .ColorContainer {
  margin: 30px 0 0;
}

.dialogTitleH3 {
  padding: 28px 18px 5px !important;

  text-align: center;
}

.dialogTitleH4 {
  padding: 28px 18px;
  text-align: center;
}
.dialogContent {
  display: flex;
  justify-content: center;
}

.iconYellow {
  color: yellow;
  font-size: 100px;
}
.iconBlue {
  color: blue;
  font-size: 100px;
}
.dialogActions {
  justify-content: center;
  margin-bottom: 15px;
}

.NameInputFieldContainer {
  display: flex;
  justify-content: center;
}

.NameInputFieldContainer input:focus-visible {
  outline: 2px solid var(--background);
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .NameInputFieldContainer .InputfieldContainer input {
    width: 470px;
    height: 20px;
  }
}
