.GameIntroductionContainer {
  display: flex;
  flex-direction: column;
}

.GameIntroductionContainer .IntroductionText {
  display: flex;
  justify-content: flex-end;
  margin: 10px 50px;
}

.GameIntroductionContainer .IntroductionText .textBubble {
  border-radius: 25px;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(44, 44, 44, 0.32));
  width: 600px;
  padding: 40px 18px;
  margin-bottom: 30px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.GameIntroductionContainer .ButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 280px 50px 0;
}
