.sidebar .overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.sidebar .menu {
  width: 500px;
  height: 100%;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  overflow-y: auto;
}

.sidebar .head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
  gap: 85px;
}

.sidebar .rules {
  font-size: 22px;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 1.5;
}

.sidebar .Sidebar-ColorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .sidebar .head {
    margin-top: 10px;
    gap: 50px;
    margin-left: 25px;
    margin-bottom: 0px;
    align-items: center;
  }

  .sidebar .menu {
    width: 300px;
    height: 100vh;
  }

  .sidebar .rules {
    font-size: 13px;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0;
  }
}
