.AnswerBoxesComponent {
  width: 323px;
  height: 79px;
  border-radius: 15px;
  background: #fff;
  margin: 20px 0;
  box-shadow: 0px 4px 4px 0px var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding: 0px 20px;
}

.AnswerBoxesComponent.imageContent {
  margin: 6px 0px;
  width: 153px;
  height: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AnswerBoxesComponent.selected {
  width: 373px;
  height: 91px;
}

.AnswerBoxesComponent.green {
  background-color: var(--answerbox-right);
}

.AnswerBoxesComponent.red {
  background-color: red;
}
.AnswerBoxesComponent.green:hover {
  background-color: #a0f959;
}

.AnswerBoxesComponent.red {
  background-color: #ff8653;
}
.AnswerBoxesComponent.red:hover {
  background-color: var(--answerbox-wrong);
}

.AnswerBoxesComponent:hover {
  background-color: #ffdcfa;
}

.AnswerBoxesComponent p.textContainer {
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}

.textContainer.image {
  width: 193px;
  height: 131px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
