REACT_APP_SCORM_CLOUD_LRS_ENDPOINT=https://cloud.scorm.com/tc/MXZR80GL07
REACT_APP_SCORM_CLOUD_LRS_STATEMENTS_ENDPOINT=https://cloud.scorm.com/lrs/MXZR80GL07/statements
REACT_APP_SCORM_CLOUD_APP_ID=MXZR80GL07
REACT_APP_SCORM_CLOUD_SECRET_KEY=d5RaacKxoHQSgcqrqqAFE2f8iPc6vyu3ommtttK1

CYPRESS_SCORM_CLOUD_APP_ID=MXZR80GL07
CYPRESS_SCORM_CLOUD_SECRET_KEY=d5RaacKxoHQSgcqrqqAFE2f8iPc6vyu3ommtttK1