.ResultContainer {
}

.ResultContainer .EndUnit {
  display: flex;
  justify-content: flex-end;
  margin: 40px 50px 0 0;
  height: 60px;
}

.ResultView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.ResultStepper .ButtonContainer {
  display: flex;
  justify-content: space-between;
}

.ResultView .Container {
  display: flex;
  align-items: center;
}
.ResultContainer .ButtonContainer .Button {
  margin: 25px 60px;
}
