.TitleBackgroundContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  top: -83px;
}

.TitleBackgroundContainer img {
  position: absolute;
  top: 0;
}

.TitleBackgroundContainer .Text {
  z-index: 2;
  font-weight: bold;
  color: white;
  font-size: 19px;
  width: 236px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 32px;
}
