.FinishGameContainer {
}

.FinishGameContainer .PhoneSimulator {
  position: fixed;
  top: 13%;
  left: 40%;
}

.FinishGameContainer .phoneContainer {
}

.FinishGameContainer .BottombarContainer {
  bottom: 84px;
}
