.ResultViewContainer {
  margin: 0 27px 45px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 691px;
  height: 408px;
  box-sizing: content-box;
  border-width: 8px;
  border-style: solid;
  border-radius: 16px;
  border: 12px solid var(--result-border-color);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ResultViewContainer .TitleBackground {
  width: 0;
  height: 6%;
}

.ResultViewContainer .Description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ResultViewContainer .Description .Text p {
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ResultViewContainer .colorBox {
  border-radius: 10px;
  width: 39px;
  height: 27px;
  margin: 0 7px 0 14px;
}

.ResultViewContainer .DescriptionContainer {
  display: flex;
  align-items: center;
}

.ResultViewContainer .DescriptionContainer .Row {
  display: flex;
  align-items: center;
}

.ResultViewContainer .DescriptionContainer p {
  font-weight: bold;
}

.ResultViewContainer .colorBox.one {
  border: 3px solid #06865b;
  background: #00d58d;
}

.ResultViewContainer .colorBox.two {
  border: 3px solid #febd01;
  background: #ffd873;
}

.ResultViewContainer .colorBox.three {
  border: 3px solid #e54e17;
  background: #ff7449;
}

.ResultViewContainer .Description ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.ResultViewContainer .Description li {
  width: calc(30.33% - 10px);
  margin: 9px 10px 14px 13px;
}

.ResultRowContainer .List {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 14px 0;
  border-radius: 19px;
  width: 168px;
  height: 99px;
  flex-shrink: 0;
  position: relative;
}

.ResultRowContainer .List.one {
  border-radius: 10px;
  border: 3px solid #06865b;
  background: #00d58d;
}

.ResultRowContainer .List.two {
  border-radius: 10px;
  border: 3px solid #febd01;
  background: #ffd873;
}

.ResultRowContainer .List.three {
  border-radius: 10px;
  border: 3px solid #e54e17;
  background: #ff7449;
}

.ResultRowContainer .List p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.ResultRowContainer .List p.Trys {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ResultRowContainer .List > div:first-child {
  width: 100px;
  flex-grow: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResultRowContainer .List .Heart {
  width: 43px;
  height: 43px;
  background: white;
  position: absolute;
  bottom: -9px;
  right: -10px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ResultRowContainer .List.one .Heart {
  border: 3px solid #06865b;

  && .customHeartIcon {
    color: #82e731;
  }
}

.ResultRowContainer .List.two .Heart {
  border: 3px solid #febd01;

  && .customHeartIcon {
    color: #febd01;
  }
}

.ResultRowContainer .List.three .Heart {
  border: 3px solid #e54e17;

  && .customHeartIcon {
    color: #e54e17;
  }
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .ResultViewContainer {
    width: 400px;
    height: 249px;
    margin: 0 27px 10px 27px;
  }

  .TitleBackgroundContainer {
    width: 286px;
    height: 90px;
  }

  .TitleBackgroundContainer .Text {
    font-size: 15px !important;
    width: 190px;
    top: 19px;
  }

  .ResultViewContainer .Description .Text p {
    font-size: 18px;
    margin: 12px;
  }

  .ResultViewContainer .colorBox {
    width: 25px;
    height: 21px;
  }
  .ResultRowContainer .List p {
    font-size: 14px;
  }

  .ResultViewContainer .Description li {
    width: calc(27.33% - 10px);
    height: 60px;
    margin: 0px 10px 9px 13px;
  }

  .ResultRowContainer .List .Heart {
    width: 27px;
    height: 27px;
  }

  .ResultRowContainer .List.two .Heart {
    border: 2px solid #febd01;
  }

  .ResultRowContainer .List.one .Heart {
    border: 2px solid #06865b;
  }

  .ResultRowContainer .List.one .Heart img {
    width: 26px !important;
    height: 20px !important;
  }
}
