.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.loader span {
  color: black;
  opacity: 0.5; /* Buchstaben im Hintergrund halbtransparent */
  filter: blur(3px); /* Unscharfer Hintergrund-Effekt */
  transform: scale(2); /* Standardgröße */
  animation: glow 4s infinite;
}

/* Animation für jeden Buchstaben */
.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.4s;
}
.loader span:nth-child(3) {
  animation-delay: 0.8s;
}
.loader span:nth-child(4) {
  animation-delay: 1.2s;
}
.loader span:nth-child(5) {
  animation-delay: 1.6s;
}
.loader span:nth-child(6) {
  animation-delay: 2s;
}
.loader span:nth-child(7) {
  animation-delay: 2.4s;
}
.loader span:nth-child(8) {
  animation-delay: 2.8s;
}
.loader span:nth-child(9) {
  animation-delay: 3.2s;
}
.loader span:nth-child(10) {
  animation-delay: 3.6s;
}

@keyframes glow {
  0% {
    color: rgb(54, 32, 1);
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    color: rgb(192, 112, 0);
    filter: blur(0px);
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    color: rgb(54, 32, 1);
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(1);
  }
}
