.FinalFrameThreeContainer {
  display: flex;
  height: 95vh;
  margin: -50px 40px;
  justify-content: flex-end;
  align-items: flex-end;
}

.FinalFrameThreeContainer .SpeechbubbleContainer {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-43%, -186%);
}

.FinalFrameThreeContainer .SpeechbubbleContainer .circle {
  position: absolute;
  left: 103px;
  top: 112px;
  width: 77px;
  height: 84px;
  bottom: -36%;
  border-radius: 62%;
  rotate: 188deg;
  box-shadow: 3.5vmin 0 white, 4vmin -0.5vmin white,
    4vmin -1.5vmin 0 -0.5vmin white;
  clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
  transform: rotatex(180deg);
  z-index: 0;
}

.FinalFrameThreeContainer div.bubble {
  height: 145px;
  display: flex;
  align-items: center;
  position: relative;
  width: 765px;
  line-height: 1.4em;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 30px;
  font-family: sans-serif;
  padding: 4px 20px;
  font-size: large;
}
