.FinalFrameEightContainer {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin-right: 40px;
}

.FinalFrameEightContainer .SpeechbubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.FinalFrameEightContainer .button {
  align-self: flex-end;
  margin-bottom: 20px;
}
