.Privacy .PrivacyContainer {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  justify-content: space-between;
}

.Privacy .headlineContainer {
  display: flex;
  align-items: center;
}

.Privacy .header {
  margin: 0 5px;
}

.Privacy .SwitchContainer {
  margin: 0 -20px 0 0px;
}

.Privacy .TextContainer {
  margin: 20px;
}

.Privacy .PrivacyText {
  white-space: pre-wrap;
  color: #000;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .Privacy .PrivacyText {
    font-size: 10px;
  }
  .Privacy .TextContainer {
    margin: 12px;
  }

  .Privacy .PrivacyContainer {
    margin: 7px 10px;
  }
}
