/* ResultStepper.css */

.ResultStepperContainer {
  display: flex;
  justify-content: center;
}

.ResultStepperCircle {
  filter: drop-shadow(0px 4px 4px #ffd873);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.ResultStepperCircle.active {
  background-color: #e54e17;
}
