.UserProfileContainer {
}

.ProfileImageContainer {
  position: relative;
  overflow: hidden;

  /* Stile für die Animation */
  .flipAnimation {
    transform: rotateY(180deg);
  }
}

.SwitchProfilePictureContainer {
  z-index: 999;
  position: absolute;
  background: #ffffffd9;
  width: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77vh;
  border-radius: 20px;
  margin: -50px;
}

/* CSS für Hover-Effekt, entfernt das :hover */
.SwitchProfilePictureContainer .ProfilePicture {
  width: 180px;
  height: 180px;
  border-radius: 18px;
  transition: transform 1s ease;
}

/* Fügt eine zusätzliche Klasse für den Hover-Effekt hinzu, wenn isFlipping true ist */
.SwitchProfilePictureContainer img.flipAnimation {
  transform: rotateY(180deg);
}
