.contentResultPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.containerDialogResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.DialogContentText {
    font-size: medium;
    font-weight: bold;
}
.DialogTitle {
    font-size: medium;
}
.dialog-logo-outside {
    width: 238px;
    height: 398px;
    left: -210px;
    top: 45px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../images/GoodFoxResultReward.svg");
}
.starContainer {
    display: flex;
    align-items: center;
}
.imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}