.containerHome {
    position: relative;
    display: flex;
    margin: 150px 20px;
}
img {
    object-fit: contain;

}
.barHomePage {
    position: absolute;
    top: 40%;
    left: 4%;
}

.h1.spuren {
    position: absolute;
    top: 45%;
    left: 56%;
}

.iphone {
    position: absolute;
    max-width: 30%;
    max-height: 30%;
    top: 45%;
    left: 56%;
}

.foxContainer {
    position: absolute;
    top: 13px;
    left: 56%;
    max-width: 45%;
    max-height: 45%;
    transform: translate(-50%, 0);
}

.goodFox {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 135px;
    left: -256px;
}

.evilFox {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 135px;
    right: -158px;
}
.paragraphsHome {
    position: absolute;
    bottom: 349px;
    left: 64px;
}
.button {
    position: absolute;
    bottom: 300px;
    left: 31px;
    max-width: 45%;
    max-height: 45%;
}