.container {
    position: relative;
}
img {
    object-fit: contain;

}

.iphone {
    position: absolute;
    max-width: 30%;
    max-height: 30%;
    top: 45%;
    left: 56%;
}

.foxContainer {
    position: absolute;
    top: 100px;
    left: 50%;
    max-width: 55%;
    max-height: 55%;
    transform: translate(-50%, 0);
}

.goodFox {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 27px;
    left: -215px;
}

.evilFox {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 27px;
    right: -223px;
}
.paragraphs {
    position: absolute;
    bottom: 355px;
    left: 64px;
}
.button {
    position: absolute;
    bottom: 308px;
    left: 31px;
    max-width: 45%;
    max-height: 45%;
}