:root {
  --primary-color: #f36b21;
  --background-default: #ffffff; /* Standard-Hintergrundfarbe */
  --background-blue: #003148; /* Hintergrundfarbe für 'blue' */
  /* Füge hier weitere Farbvariablen für andere Themes hinzu, wenn benötigt */
}

[data-theme="default"] {
  --background: #fff174;
  --background-img: url("../images/BackgroundImages/BackgroundImageYellow.png");
  --box-shadow: #c9bc48;
  --button-txt-color: #f0fffa;
  --button-primary-bg-color: linear-gradient(90deg, #ff9902 0%, #f36b21 100%);
  --button-primary-before: #e54e17;

  --button-primary-bg-color-disabled: linear-gradient(
    90deg,
    #ffc671 0%,
    #f5a275 46%
  );
  --button-primary-before-disabled: #ef9e81;

  /*SECONDARY*/
  --button-sec-bg-back: linear-gradient(90deg, #ffd873 0%, #ffd873 100%);
  --button-sec-before-back: rgba(254, 189, 1, 1);
  --button-sec-before-back-disabled: rgba(254, 189, 1, 1);
  --button-sec-back-disabled: linear-gradient(90deg, #ffd873 0%, #ffd873 46%);

  --stepper-color: #f36b21;
  --sidebar-text-color: #000;
  --result-border-color: #f36b21;

  --answerbox-right: #ff7449;
  --answerbox-wrong: #ff8653;
}

[data-theme="blue"] {
  --background: #e3f6ff;
  --background-img: url("../images/BackgroundImages/BackgroundImageBlue.png");
  --button-txt-color: #f0fffa;
  --box-shadow: #add7ea;
  --button-txt-color: #f0fffa;
  --button-primary-bg-color: linear-gradient(90deg, #ff9902 0%, #f36b21 100%);
  --button-primary-before: #e54e17;

  --button-primary-bg-color-disabled: linear-gradient(
    90deg,
    #ffc671 0%,
    #f5a275 46%
  );
  --button-primary-before-disabled: #ef9e81;

  /*SECONDARY*/
  --button-sec-bg-back: linear-gradient(90deg, #ffd873 0%, #ffd873 100%);
  --button-sec-before-back: rgba(254, 189, 1, 1);
  --button-sec-before-back-disabled: rgba(254, 189, 1, 1);
  --button-sec-back-disabled: linear-gradient(90deg, #ffd873 0%, #ffd873 46%);

  --stepper-color: #f36b21;
  --sidebar-text-color: #000;
  --result-border-color: #f36b21;

  --answerbox-right: #00d58d;
  --answerbox-wrong: #ff7449;
}

[data-theme="yellow"] {
  --background: #fff174;
  --background-img: url("../images/BackgroundImages/BackgroundImageYellow.png");
  --box-shadow: #c9bc48;
  --button-txt-color: #f0fffa;
  --button-primary-bg-color: linear-gradient(90deg, #ff9902 0%, #f36b21 100%);
  --button-primary-before: #e54e17;

  --button-primary-bg-color-disabled: linear-gradient(
    90deg,
    #ffc671 0%,
    #f5a275 46%
  );
  --button-primary-before-disabled: #ef9e81;

  /*SECONDARY*/
  --button-sec-bg-back: linear-gradient(90deg, #ffd873 0%, #ffd873 100%);
  --button-sec-before-back: rgba(254, 189, 1, 1);
  --button-sec-before-back-disabled: rgba(254, 189, 1, 1);
  --button-sec-back-disabled: linear-gradient(90deg, #ffd873 0%, #ffd873 46%);

  --stepper-color: #f36b21;
  --sidebar-text-color: #000;
  --result-border-color: #f36b21;

  --answerbox-right: #ff7449;
  --answerbox-wrong: #ff8653;
}

[data-theme="pink"] {
  --background: #ffaed5;
  --background-img: url("../images/BackgroundImages/BackgroundImagePink.svg");
  --box-shadow: #e298c5;
  --button-txt-color: #f0fffa;
  --button-primary-bg-color: linear-gradient(90deg, #ff9902 0%, #f36b21 100%);
  --button-primary-before: #e54e17;

  --button-primary-bg-color-disabled: linear-gradient(
    90deg,
    #ffc671 0%,
    #f5a275 46%
  );
  --button-primary-before-disabled: #ef9e81;

  /*SECONDARY*/
  --button-sec-bg-back: linear-gradient(90deg, #ffd873 0%, #ffd873 100%);
  --button-sec-before-back: rgba(254, 189, 1, 1);
  --button-sec-before-back-disabled: rgba(254, 189, 1, 1);
  --button-sec-back-disabled: linear-gradient(90deg, #ffd873 0%, #ffd873 46%);

  --stepper-color: #f36b21;
  --sidebar-text-color: #000;
  --result-border-color: #f36b21;

  --answerbox-right: #a2e360;
  --answerbox-wrong: #eb4b4b;
}
