.SearchPersonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}

.SearchPersonContainer .SearchbarContainer {
  width: 80%;
}

.SearchPersonContainer .PersonsList {
  margin: 0;
  padding: 0;
  width: 80%;
}

.SearchPersonContainer .PersonsList li {
  list-style: none;
  width: 100%;
  height: 38px;
  border-radius: 8px;
  background: #f1f1f1;
  margin: 12px 0px;
  display: flex;
  align-items: center;
  padding: 7px 4px;
  justify-content: space-between;
}
.SearchPersonContainer .ProfilePicture {
  border-radius: 30px;
}

.left-content {
  margin: 10px;
  display: flex;
  align-items: center;
}

.right-content {
  margin: 10px;
}

.left-content .name {
  margin: 10px;
}

.SearchPersonContainer .PersonsList .selected {
  background-color: rgb(202, 202, 215) !important;
}
