.bubble-container {
  position: relative;
}

.container {
    display: grid;
    margin: 50px 20px;
  }

  .foxImg {
    border: 6px solid #4E4E4E;
    border-radius: 60px;
  }

  .content {
    z-index: 3;
    position: relative;
    top: -47px
  }
.content, .overlay {
    grid-area: 1 / 1;
  }

div.bubble {
  position: relative;
  width: 300px;
  text-align: center;
  line-height: 1.4em;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px #C9BC48;
  border-radius: 30px;
  font-family: sans-serif;
  padding: 20px;
  font-size: large;
}

div.bubble .answer {
font-weight: bold;
}

div.bubble:before,
div.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

div.bubble:before {
    left: 123px;
    top: -40px;
    border: 24px solid;
    border-color: #fff transparent transparent #fff;
    rotate: 253deg;
}

div.bubble:after {
    left: 126px;
    top: -34px;
    border: 20px solid;
    border-color: #fff transparent transparent #fff;
    rotate: 261deg;
}
