.hub {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  justify-content: space-between;
}

.hub .HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 50px);
  margin: 25px 20px 0;
}

.hub .MapContainer {
  margin: -130px 0 0;
}

.hub .foxProfileContainer {
  z-index: 999;
}

.hub .fox {
  cursor: pointer;
  align-self: flex-start;
  border: 6px solid #4e4e4e;
  border-radius: 60px;
  left: 45px;
}

.hub .backpack {
  cursor: pointer;
  align-self: flex-end;
}

.hub .upperRightOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  z-index: 999;
}

.hub .map {
  position: relative;
  max-width: 100%; /* Füge diese Zeile hinzu, um die maximale Breite auf 100% zu setzen */
  height: auto; /* Füge diese Zeile hinzu, um das Seitenverhältnis beizubehalten */
}

.hub .pins {
  position: absolute;
}

.hub .pinOne {
  cursor: pointer;
  position: absolute;
  transform: translate(540%, -421%);
}

.hub .pinTwoActive {
  cursor: pointer;
  position: absolute;
  transform: translate(803%, -336%);
}

.hub .pinTwoInactive {
  position: absolute;
  transform: translate(440%, -710%);
}

.hub .bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 50px);
  margin: 25px 20px 0;
}

.hub .restartButton {
  z-index: 999;
  margin: -175px 5px 25px;
}