.hub {
  position: relative;
}

.fox {
  position: absolute;
  left: 45px;
  top: 45px;
  border: 6px solid #4e4e4e;
  border-radius: 60px;
  cursor: pointer;
}

.backpack {
  position: absolute;
  right: 45px;
  top: 45px;
}

.map {
  position: absolute;
  right: 0;
  top: 30px;
}

.pinOne {
  cursor: pointer;
  position: absolute;
  top: 110px;
  left: 530px;
}

.pinTwoInactive {
  position: absolute;
  top: 305px;
  left: 670px;
}

.pinTwo {
  cursor: pointer;
  position: absolute;
  top: 210px;
  left: 755px;
}