.ImageGalleryOverlay .ProfileContainer {
  display: flex;
  align-items: center;
}

.ImageBlock {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.ImageBlock span {
  font-weight: bold;
}

.ImageGalleryOverlay .ProfileContainer p {
  margin: 15px 10px;
  font-weight: bold;
}

.ProfileContainer .icon {
  width: 18px;
  padding: 0 8px 0 0;
}

.ImageGalleryOverlay .ProfileImage {
  width: 32px;
  height: 32px;
}

.GalleryContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GalleryImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GalleryImage img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.ImageBlock p {
  font-weight: 400;
  font-size: 13px;
  margin: 4px 0 15px 0;
}

.GalleryImage p {
  width: 100%;
  margin: 3px 0 14px 0;
}

.GalleryImage.selected {
  border-color: #3c68a9;
}

.ImageBlock img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}
