.GroupChat {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.GroupChat div {
  width: 100%;
}

/* UPPER SECTION*/

.GroupChat .Headline p {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px rgba(218, 218, 218, 0.25);
}

/* MIDDLE SECTION*/

.GroupChat .MessagesContainer {
  height: 75%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.GroupChat .MessagesWrapper {
  overflow-y: auto;
}

.GroupChat .MessageSpeachbubbleContainer {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.GroupChat .MessageSpeachbubbleContainer .ProfilePicture {
  width: 10%;
}

.GroupChat .MessageSpeachbubbleContainer .BigPicture {
  width: 100%;
}

.GroupChat .MessageSpeachbubbleContainer .speachBubble {
  background-color: rgb(34, 34, 48);
  color: white;
  padding: 5%;
  border-radius: 25px 25px 25px 0;
  width: 90%;
  margin-bottom: 1%;
}

.GroupChat .MessageSpeachbubbleContainer .speachBubble p {
  margin: 0;
  padding: 0;
}

.GroupChat .MessageSpeachbubbleContainer .speachBubble #name1 {
  color: red;
}

.GroupChat .MessageSpeachbubbleContainer .speachBubble #name2 {
  color: purple;
}

.GroupChat .MessageSpeachbubbleContainer .speachBubble #name3 {
  color: green;
}

/* LOWER SECTION*/

.GroupChat .SendMessage {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -4px 4px 0px rgba(218, 218, 218, 0.25);
}

.GroupChat .InputMock {
  width: 65%;
  border-radius: 25px;
  padding: 4%;
  margin-left: 5%;
  background-color: lightgray;
  color: grey;
}

.GroupChat .InputMock p {
  padding: 0;
  margin: 0;
}

.GroupChat .SendImageContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GroupChat .SendImage {
  width: 40%;
  background-color: blue;
  border-radius: 25%;
  padding: 5%;
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
  .GroupChat .MessageSpeachbubbleContainer .speachBubble {
    border-radius: 13px 13px 13px 0;
  }

  .GroupChat .Headline {
    display: flex;
    align-items: center;
  }

  .GroupChat .InputMock {
    border-radius: 7px;
  }

  .GroupChat .InputMock p {
    font-size: 0.5rem !important;
  }
}
