.UserProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.flexContainer {
    display: flex;
}

.UserProfileContainer .ProfilePicture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 42px;
    margin: 10px 0 10px 0;
}

.ImageContainer {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.ImageContainer .text {
    text-align: center;
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
}

.flexContainer .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 5px 15px 5px;
}

.count{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.text {
    margin: 0;
    padding: 0;
}

.UserProfileContainer ul li{
    display: flex;
    float: left;
    margin: 11px;
    width: 40%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.UserProfileContainer ul{
    list-style-type: disc;
}

.UserProfileContainer .Line {
    width: 250px;
    height: 1px;
    opacity: 0.34;
    background: #000;
    margin: 15px;
}

.answerText {
    margin: 0;
    text-align: center;
    height: 56px;
    display: flex;
    align-items: center;
}

.ImageContainer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ImageContainer li {
    height: 115px;
}

.ImageContainer img {
    border-radius: 15px;
}

.BottombarContainer{
    position: absolute;
    bottom: 82px;
}

