.CreateAccountContainer .frameContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.CreateAccountContainer {
    width: 100%;
}
  
.CreateAccountContainer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}