button {
  width: 212px;
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:disabled {
  cursor: not-allowed;
}
button.PrimaryButton:disabled {
  background: var(--button-primary-bg-color-disabled);
  color: #ffffff99;
}

button.PrimaryButton:disabled::before {
  background: var(--button-primary-before-disabled);
}

button.PrimaryButton {
  padding: 14px 51px;
  border-radius: 1.3em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background: var(--button-primary-bg-color);
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
button.PrimaryButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--button-primary-before);
  transform: translate3d(0, 0.5em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.PrimaryButton:disabled:hover {
  transform: none;
}

button.PrimaryButton:disabled:active {
  transform: none;
}

button.PrimaryButton:hover {
  transform: translate(0, 0.25em);
}

button.PrimaryButton:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button.PrimaryButton:active {
  transform: translate(0, 0.75em);
}

/*Secondary Button*/
button.SecondaryButton:disabled {
  background: var(--button-sec-back-disabled);
  color: var(--button-txt-color);
}

button.SecondaryButton:disabled::before {
  background: var(--button-sec-before-back-disabled);
}

button.SecondaryButton {
  padding: 14px 51px;
  border-radius: 1.3em;
  color: var(--button-txt-color);
  text-transform: uppercase;
  background: var(--button-sec-bg-back);
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
button.SecondaryButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--button-sec-before-back);
  transform: translate3d(0, 0.5em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.SecondaryButton:hover {
  transform: translate(0, 0.25em);
}

button.SecondaryButton:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button.SecondaryButton:active {
  transform: translate(0, 0.75em);
}

button.SecondaryButton:disabled:hover {
  transform: none;
}

button.SecondaryButton:disabled:active {
  transform: none;
}

/*Tertiary Button*/
button.TertiaryButton {
  width: 170px;
  height: 32px;
  padding: 0px;
  border: 2px solid #b5e6ff;
  border-radius: 1.3em;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background: #b5e6ff;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  font-size: 12px;
}

button.TertiaryButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #8bc0db;
  transform: translate3d(0, 0.5em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.TertiaryButton:hover {
  background: #b5e6ff;
  transform: translate(0, 0.25em);
}

button.TertiaryButton:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

button.TertiaryButton:active {
  background: #b5e6ff;
  transform: translate(0, 0.75em);
}

/*Quaternary Button*/
button.QuaternaryButton {
  background: white url(../../images/CrossButton.svg) center/contain no-repeat;
  background-size: 50%;
  width: 58px;
  height: 58px;
  padding: 0;
  margin: 0 0 0 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px #d2d2d2;
  z-index: 999;
}

button.QuinaryButton {
  padding: 40px 265px;
  border-radius: 1.3em;
  font-weight: 700;
  font-size: 22px;
  color: white;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  justify-content: center;
  text-transform: uppercase;
  background: var(--button-primary-bg-color);
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  white-space: nowrap;
}
button.QuinaryButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--button-primary-before);
  transform: translate3d(0, 0.5em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.QuinaryButton:disabled {
  background: var(--button-primary-bg-color-disabled);
  color: #ffffff99;
}
button.QuinaryButton:disabled::before {
  background: var(--button-primary-before-disabled);
}
button.QuinaryButton:disabled:hover {
  transform: none;
}

button.QuinaryButton:disabled:active {
  transform: none;
}

button.QuinaryButton:hover {
  transform: translate(0, 0.25em);
}

button.QuinaryButton:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

button.QuinaryButton:active {
  transform: translate(0, 0.75em);
}

button.SenaryButton {
  background: white url(../../images/ExclamationButton.svg) center/contain
    no-repeat;
  background-size: 14%;
  width: 65px;
  height: 58px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px #d2d2d2;
  z-index: 999;
}
